
@font-face {
    font-family: 'TTLakes-Light'; /* Укажите название шрифта */
    src: url('./assets/fonts/TTLakes/TTLakes-Light.woff') format('opentype');
    font-weight: light; /* Соответствие начертанию */
    font-style: light;
}

@font-face {
    font-family: 'TTLakes-DemiBold';
    src: url('./assets/fonts/TTLakes/TTLakes-DemiBold.woff') format('opentype');
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'TTLakes-Regular';
    src: url('./assets/fonts/TTLakes/TTLakes-Regular.woff') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TTLakes-Medium';
    src: url('./assets/fonts/TTLakes/TTLakes-Medium.woff') format('opentype');
    font-weight: medium;
    font-style: medium;
}

:root {
    --main-background: #F8F8F8;
    --carousel-background: #FFFFFF;
    --baclground-icons: #FF3E79;
    --black-text: #000000;
    --carousel-text: #B8FFEC;
    --main_items: #1B1C21;
    --second-text: #7E7E82;
    --second-line: #41F6D7;
    --actions__divided: #EAEAEA;
}

body {
    background-color: var(--main-background);
    max-width: 1120px;
    min-height: 525px;
}

header {
    font-family: 'TTLakes-DemiBold', Arial, sans-serif;
    font-size: 2em;
    margin: 10px;
}

.logo {
    position: absolute;
    height: 30px;
    left: -10px;
}

.title__icons {
    display: flex;
    justify-content: space-between;
}

.icons__top {
    font-family: 'TTLakes-Medium', Arial, sans-serif;
    font-size: 14px;
    display: flex;
        align-items: flex-end;
        flex-direction: row;
        gap: 10px;
        cursor: pointer;
}

.icon__circle {
    width: 30px;
    height: 30px;
    background-color: #FF2E63;
    border-radius: 50%;
    display: flex;
        align-items: center;
        justify-content: center;
}

.icon__circle img {
    width: 15px;
    height: 15px;
}

.pages__names {
    font-family: 'TTLakes-Light', Arial, sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.pages__names span {
    padding: 4px 8px;
    cursor: pointer;
}

.pages__names span:hover {
    outline: 1px solid #41F6D7;
    border-radius: 5px;
}

.new__string {
    font-family: 'TTLakes-Light', Arial, sans-serif;
    font-size: 15px;
    width: 60px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    padding: 1px 4px;
    cursor: pointer;
}

.new__string:hover {
    outline: 1px solid #41F6D7;
    border-radius: 5px;
}

.mainText__img {
    display: flex;
    justify-content: space-around;
}

.main__text {
    font-family: 'TTLakes-Regular', Arial, sans-serif;
    color: var(--second-text);
    line-height: 25px;
    font-size: 15px;
    padding: 20px;
    padding-top: 0;
}

.text__buttons {
    display: flex;
    flex-direction: column;
}

.main__text--hidden, .textHide__button--hidden {
    display: none;
}

.main__text--visible {
    display: block;
}

.readFurther__button--visible, .textHide__button--visible {
    font-family: 'TTLakes-Medium', Arial, sans-serif;
    font-size: 20px;
    color: var(--black-text);
    cursor: pointer;
    display: flex;
        justify-content: flex-start;
        gap: 10px;
        margin-top: 10px;
}

.readFurther__button--hidden {
    display: none;
}

.brands__basic__text {
    font-family: 'TTLakes-Light', Arial, sans-serif;
    font-size: 15px;
    padding: 20px;
}

.buttons__background {
    background-color: var(--actions__divided);
    margin-top: 20px;
    z-index: 0
}

.brandsCard {
    width: 200px;
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color: var(--carousel-background);
    padding: 10px;
}

.swiper {
    width: 200px;
    height: 100px;
    /* position: relative; */
    margin-top: 10px;
}

.swiper-wrapper {
    /* margin-top: 10px; */
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: auto;
    background: var(--carousel-background);
    margin-top: 10px;
    border-radius: 10px;
}

.swiper-pagination {
    /* position: absolute; */
    margin-bottom: -15px;
    transform: translateY(-50%);

}

/* .brands {
    display: flex;
    /* flex-wrap: wrap; */
    /* padding: 10px;
    margin-top: 10px; 
    align-items: center;
    /* gap: 20px; 
} */

/*
.swiper {
    display: none;
}

.swiper-wrapper {
    display: none;
}
*/

/*
.brandsCard {
    width: 200px;
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color: var(--carousel-background);
    padding: 10px;
}

.apple, .hp {
    height: 40px;
}

.brandsHiddenString {
    display: none;
} */

.hide__button {
    font-family: 'TTLakes-Light', Arial, sans-serif;
    font-size: 15px;
    width: 70px;
    height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}

.hideButtonHidden {
    display: none;
}

.showAll__button__hidden {
    display: none;
}

.showAll__button__visible {
    font-family: 'TTLakes-Light', Arial, sans-serif;
    font-size: 15px;
    width: 120px;
    height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}

@media (max-width: 768px) {

    header {
        font-family: 'TTLakes-DemiBold', Arial, sans-serif;
        font-size: 20px;
        margin: 10px;
        margin-top: 20px;
    }

    .logo {
        position: absolute;
        height: 20px;
        left: -10px;
        margin-top: -10px;
    }

    .title__icons {
        display: flex;
        justify-content: space-between;
    }

    .icons__top {
        font-family: 'TTLakes-Medium', Arial, sans-serif;
        font-size: 12px;
        display: flex;
            align-items: flex-end;
            flex-direction: row;
            gap: 10px;
            cursor: pointer;
    }

    .icon__circle {
        width: 30px;
        height: 30px;
        background-color: #FF2E63;
        border-radius: 50%;
        display: flex;
            align-items: center;
            justify-content: center;
    }

    .icon__circle img {
        width: 15px;
        height: 15px;
    }

    .pages__names {
        font-family: 'TTLakes-Light', Arial, sans-serif;
        font-size: 11px;
        display: flex;
        justify-content: space-around;
        margin: 20px;
    }

    .pages__names span {
        padding: 4px 8px;
        cursor: pointer;
    }

    .pages__names span:hover {
        outline: 1px solid #41F6D7;
        border-radius: 5px;
    }

    .new__string {
        font-family: 'TTLakes-Light', Arial, sans-serif;
        font-size: 11px;
        width: 60px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 30px;
        padding: 1px 4px;
        cursor: pointer;
    }

    .new__string:hover {
        outline: 1px solid #41F6D7;
        border-radius: 5px;
    }

    .mainText__img {
        display: flex;
        justify-content: space-around;
    }

    .main__text {
        font-family: 'TTLakes-Regular', Arial, sans-serif;
        color: var(--second-text);
        line-height: 15px;
        font-size: 11px;
        padding: 20px;
        padding-top: 0;
    }

    .main__img img {
        width: 300px;
        height: auto;
    }

    .text__buttons {
        display: flex;
        flex-direction: column;
    }

    .main__text--hidden {
        display: none;
    }

    .main__text--visible {
        display: block;
    }

    .textHide__button--hidden {
        display: none;
    }

    .readFurther__button--visible, .textHide__button--visible {
        font-family: 'TTLakes-Medium', Arial, sans-serif;
        font-size: 12px;
        color: var(--black-text);
        cursor: pointer;
        display: flex;
            justify-content: flex-start;
            gap: 5px;
            margin-top: 10px;
    }

    .readFurther__button--visible img, .textHide__button--visible img {
        height: 20px;
        margin-top: -1px;
    }

    .readFurther__button--hidden {
        display: none;
    }

    .brands {
        display: flex;
        margin-top: 10px;
        align-items: center;
    }

    .swiper-wrapper {
        height: 80px;
    }

    .swiper-pagination {
        margin-bottom: -5px;
    }

    .swiper-slide {
        width: 200px;
        height: 80px;
        margin-right: 10px;
    }

    .brands__basic__text {
        font-family: 'TTLakes-Light', Arial, sans-serif;
        font-size: 12px;
        padding: 20px;
    }

    .buttons__background {
        background-color: var(--actions__divided);
        z-index: 0
    }

    .brandsCard {
        width: 150px;
        height: auto;
        display: flex;
        justify-content: space-between;
        background-color: var(--carousel-background);
        padding: 10px;
    }

    .brandsCard img {
        height: 20px;
    }

    .brandsHiddenString {
        display: none;
    }

    .hide__button {
        font-family: 'TTLakes-Light', Arial, sans-serif;
        font-size: 12px;
        width: 70px;
        height: 30px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 10px;
    }

    .hideButtonHidden {
        display: none;
    }

    .showAll__button__hidden {
        display: none;
    }

    .showAll__button__visible {
        font-family: 'TTLakes-Light', Arial, sans-serif;
        font-size: 12px;
        width: 120px;
        height: 30px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 10px;
    }

    /* .swiper-wrapper {
        height: 80px;
  }

    .swiper-slide {
    display: none;
  }

    .swiper-pagination {
    display: none;
  } */

}

@media (max-width: 425px) {
 
    header {
        font-family: 'TTLakes-DemiBold', Arial, sans-serif;
        font-size: 15px;
        margin: 10px;
        margin-top: 20px;
    }

    .logo {
        position: absolute;
        height: 20px;
        left: -10px;
        margin-top: -10px;
    }

    .title__icons {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .icons__top {
        font-family: 'TTLakes-Medium', Arial, sans-serif;
        font-size: 12px;
        display: flex;
            justify-content: center;
            flex-direction: row;
            gap: 20px;
            cursor: pointer;
    }

    .icon__circle {
        width: 30px;
        height: 30px;
        background-color: #FF2E63;
        border-radius: 50%;
        display: flex;
            align-items: center;
            justify-content: center;
    }

    .icon__circle img {
        width: 15px;
        height: 15px;
    }

    .pages__names {
        font-family: 'TTLakes-Light', Arial, sans-serif;
        font-size: 11px;
        display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin: 20px;
            gap: 10px;
    }

    .pages__names span {
        padding: 4px 8px;
        cursor: pointer;
    }

    .pages__names span:hover {
        outline: 1px solid #41F6D7;
        border-radius: 5px;
    }

    .new__string {
        font-family: 'TTLakes-Light', Arial, sans-serif;
        font-size: 11px;
        width: 60px;
        height: 20px;
        display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 155px;
            margin-top: -10px;
            padding: 1px 4px;
            cursor: pointer;
    }

    .new__string:hover {
        outline: 1px solid #41F6D7;
        border-radius: 5px;
    }

    .mainText__img {
        display: flex;
        flex-direction: column;
    }

    .main__text {
        font-family: 'TTLakes-Regular', Arial, sans-serif;
        color: var(--second-text);
        line-height: 15px;
        font-size: 11px;
        padding: 20px;
        padding-top: 0;
    }

    .main__img img {
        width: 300px;
        height: auto;
        margin-left: 60px;
        margin-bottom: 20px;
    }

    .text__buttons {
        display: flex;
        flex-direction: column;
    }

    .main__text--hidden {
        display: none;
    }

    .main__text--visible {
        display: block;
    }

    .textHide__button--hidden {
        display: none;
    }

    .readFurther__button--visible, .textHide__button--visible {
        font-family: 'TTLakes-Medium', Arial, sans-serif;
        font-size: 12px;
        color: var(--black-text);
        cursor: pointer;
        display: flex;
            justify-content: flex-start;
            gap: 5px;
            margin-top: 10px;
    }

    .readFurther__button--visible img {
        height: 20px;
        margin-top: 8px;
    }

    .textHide__button--visible img {
        height: 20px;
        margin-top: -1px;
    }

    .readFurther__button--hidden {
        display: none;
    }
    
    .brands__basic__text {
        font-family: 'TTLakes-Light', Arial, sans-serif;
        font-size: 12px;
        padding: 20px;
        margin-left: 50px;
    }
}
