
@font-face {
    font-family: 'TTLakes-Light'; /* Укажите название шрифта */
    src: url('./assets/fonts/TTLakes/TTLakes-Light.woff') format('opentype');
    font-weight: light; /* Соответствие начертанию */
    font-style: light;
}

@font-face {
    font-family: 'TTLakes-DemiBold';
    src: url('./assets/fonts/TTLakes/TTLakes-DemiBold.woff') format('opentype');
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'TTLakes-Regular';
    src: url('./assets/fonts/TTLakes/TTLakes-Regular.woff') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TTLakes-Medium';
    src: url('./assets/fonts/TTLakes/TTLakes-Medium.woff') format('opentype');
    font-weight: medium;
    font-style: medium;
}

:root {
    --main-background: #F8F8F8;
    --carousel-background: #FFFFFF;
    --baclground-icons: #FF3E79;
    --black-text: #000000;
    --carousel-text: #B8FFEC;
    --main_items: #1B1C21;
    --second-text: #7E7E82;
    --second-line: #41F6D7;
    --actions__divided: #EAEAEA;
}

body {
    background-color: var(--main-background);
    max-width: 1120px;
    min-height: 525px;
}

header {
    font-family: 'TTLakes-DemiBold', Arial, sans-serif;
    font-size: 2em;
    margin: 10px;
}

.logo {
    position: absolute;
    height: 30px;
    left: -10px;
}

.title__icons {
    display: flex;
    justify-content: space-between;
}

.icons__top {
    font-family: 'TTLakes-Medium', Arial, sans-serif;
    font-size: 14px;
    display: flex;
        align-items: flex-end;
        flex-direction: row;
        gap: 10px;
        cursor: pointer;
}

.icon__circle {
    width: 30px;
    height: 30px;
    background-color: #FF2E63;
    border-radius: 50%;
    display: flex;
        align-items: center;
        justify-content: center;
}

.icon__circle img {
    width: 15px;
    height: 15px;
}

.pages__names {
    font-family: 'TTLakes-Light', Arial, sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: flex-start;
    margin: 20px;
    margin-right: 100px;
    flex-wrap: wrap;
    gap: 20px;
}

.pages__names span {
    padding: 4px 8px;
    cursor: pointer;
}

.pages__names span:hover {
    outline: 1px solid #41F6D7;
    border-radius: 5px;
}

.mainText__img {
    display: flex;
    justify-content: space-around;
}

.main__text {
    font-family: 'TTLakes-Regular', Arial, sans-serif;
    color: var(--second-text);
    line-height: 25px;
    font-size: 15px;
    padding: 20px;
    padding-top: 0;
}

.text__buttons {
    display: flex;
    flex-direction: column;
}

.main__text--hidden {
    display: none;
}

.main__text--visible {
    display: block;
}

.hideButton--hidden {
    display: none;
}

.showAllButton--visible, .hideButton--visible {
    font-family: 'TTLakes-Medium', Arial, sans-serif;
    font-size: 20px;
    color: var(--black-text);
    cursor: pointer;
    display: flex;
        justify-content: flex-start;
        gap: 10px;
        margin-top: 10px;
}

.showAllButton--hidden {
    display: none;
}

.brands__basic__text {
    font-family: 'TTLakes-Light', Arial, sans-serif;
    font-size: 15px;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    background: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 98.61%);
}

/* .buttons__background {
    background-color: var(--actions__divided);
    max-height: 500px;
} */

.brandsCard {
    width: 200px;
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color: var(--carousel-background);
    padding: 10px;
    border: 1px solid #EAEAEA;
}

.swiper-1, .swiper-2 {
    display: none;
}

.brands {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin-top: 10px; 
    align-items: center;
    gap: 20px; 
}

.apple, .hp {
    height: 40px;
}

.brandsHiddenString {
    display: none !important;
}

.hide__button {
    font-family: 'TTLakes-Light', Arial, sans-serif;
    font-size: 15px;
    width: 70px;
    height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 20px;
}

.hideButtonHidden {
    display: none;
}

.showAll__button__hidden {
    display: none;
}

.showAll__button__visible {
    font-family: 'TTLakes-Light', Arial, sans-serif;
    font-size: 15px;
    width: 120px;
    height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 20px;
}

/* .swiper-wrapper-2 {
    height: 200px;
} */

.swiper-slide-1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60px;
    width: 100px;
    background: var(--carousel-background);
    margin-top: 15px;
    border-radius: 5px;
    font-family: 'TTLakes-Medium', Arial, sans-serif;
    font-size: 9px;
}

.swiper-slide-2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    width: 100px;
    background: var(--carousel-background);
    border-radius: 5px;
    font-family: 'TTLakes-Medium', Arial, sans-serif;
    font-size: 9px;
}

.swiper-pagination {
        margin-bottom: -15px;
        transform: translateY(-50%);
}

.technics {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
}

.technics__card {
    font-family: 'TTLakes-Medium', Arial, sans-serif;
    font-size: 9px;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    background-color: var(--carousel-background);
    padding: 10px;
    border: 1px solid #EAEAEA;
    margin-top: 10px;
    cursor: pointer;
}

.technics__card__button {
    height: 20px;
    width: 20px;
    margin-top: 20px;
}


@media (max-width: 768px) {

    header {
        font-family: 'TTLakes-DemiBold', Arial, sans-serif;
        font-size: 20px;
        margin: 10px;
        margin-top: 20px;
    }

    .logo {
        position: absolute;
        height: 20px;
        left: -10px;
        margin-top: -10px;
    }

    .title__icons {
        display: flex;
        justify-content: space-between;
    }

    .icons__top {
        font-family: 'TTLakes-Medium', Arial, sans-serif;
        font-size: 12px;
        display: flex;
            align-items: flex-end;
            flex-direction: row;
            gap: 10px;
            cursor: pointer;
    }

    .icon__circle {
        width: 30px;
        height: 30px;
        background-color: #FF2E63;
        border-radius: 50%;
        display: flex;
            align-items: center;
            justify-content: center;
    }

    .icon__circle img {
        width: 15px;
        height: 15px;
    }

    .pages__names {
        font-size: 11px;
        margin: 20px;
    }

    .mainText__img {
        display: flex;
        justify-content: space-around;
    }

    .main__text {
        font-family: 'TTLakes-Regular', Arial, sans-serif;
        color: var(--second-text);
        line-height: 15px;
        font-size: 11px;
        padding: 20px;
        padding-top: 0;
    }

    .main__img img {
        width: 300px;
        height: auto;
    }


    .showAllButton--visible, .hideButton--visible {
        font-size: 12px;
    }

    .showAllButton--visible img, .hideButton--visible img {
        height: 20px;
        margin-top: -1px;
    }

    .brands {
        display: flex;
        margin-top: 10px;
        align-items: center;
    }

    .brands__basic__text {
        font-family: 'TTLakes-Light', Arial, sans-serif;
        font-size: 12px;
        padding: 20px;
    }

    .brandsCard {
        width: 150px;
    }

    .brandsCard img {
        height: 20px;
    }

    /* .brandsHiddenString {
        display: none;
    } */

    .hide__button {
        font-family: 'TTLakes-Light', Arial, sans-serif;
        font-size: 12px;
        width: 70px;
        height: 30px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 10px;
    }

    .hideButtonHidden {
        display: none;
    }

    .showAll__button__hidden {
        display: none;
    }

    .showAll__button__visible {
        font-family: 'TTLakes-Light', Arial, sans-serif;
        font-size: 12px;
        width: 120px;
        height: 30px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 10px;
    }

}

@media (max-width: 425px) {
 
    header {
        font-family: 'TTLakes-DemiBold', Arial, sans-serif;
        font-size: 15px;
        margin: 10px;
        margin-top: 20px;
    }

    .logo {
        position: absolute;
        height: 20px;
        left: -10px;
        margin-top: -10px;
    }

    .title__icons {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .icons__top {
        font-family: 'TTLakes-Medium', Arial, sans-serif;
        font-size: 12px;
        display: flex;
            justify-content: center;
            flex-direction: row;
            gap: 20px;
            cursor: pointer;
    }

    .icon__circle {
        width: 30px;
        height: 30px;
        background-color: #FF2E63;
        border-radius: 50%;
        display: flex;
            align-items: center;
            justify-content: center;
    }

    .icon__circle img {
        width: 15px;
        height: 15px;
    }

    .pages__names {
        font-size: 11px;
        justify-content: center;
        margin: 20px;
        gap: 10px;
    }

    .mainText__img {
        display: flex;
        flex-direction: column;
    }

    .main__text {
        font-family: 'TTLakes-Regular', Arial, sans-serif;
        color: var(--second-text);
        line-height: 15px;
        font-size: 11px;
        padding: 20px;
        padding-top: 0;
    }

    .main__img img {
        width: 300px;
        height: auto;
        margin-left: 60px;
        margin-bottom: 20px;
    }
    
    .technicsAndButtons {
        display: none;
    }

    .brands__basic__text {
        display: flex;
        font-family: 'TTLakes-Light', Arial, sans-serif;
        font-size: 12px;
        padding: 20px;
    }

    /* .brands {
    display: none;
    } */

    /* .buttons__background {
        display: none;
    }

    .buttons__background__swiper {
        height: 110px;
        background-color: var(--actions__divided);
    } */

    /* .brandsCard {
        width: 200px;
        height: auto;
        display: flex;
        justify-content: space-between;
        background-color: var(--carousel-background);
        padding: 10px;
    } */

    .swiper-1, .swiper-2 {
        display: block;
        width: 210px;
        height: 100px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    /* .showAll__button__visible {
        display: none;
    }

    .hide__button {
        display: none;
    } */

    .swiper-slide-1 span {
        margin-top: -60px;
        margin-left: -10px;
    }

    .swiper-slide-2 span {
    margin: -40px 0 0 -30px;
    }
    
    .technics__card__button {
        margin-top: 45px;
        margin-right: -30px;
    }
    
}