
.swiper-1, .swiper-2, .swiper-3 {
    display: none;
}

.swiper-slide-1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60px;
    width: 100px;
    background: var(--carousel-background);
    margin-top: 15px;
    border-radius: 5px;
    font-family: 'TTLakes-Medium', Arial, sans-serif;
    font-size: 9px;
}

.swiper-slide-2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 120px;
    /* width: 100px; */
    background: var(--carousel-background);
    border-radius: 5px;
    font-family: 'TTLakes-Medium', Arial, sans-serif;
    font-size: 9px;
}

.swiper-pagination {
        margin-bottom: -15px;
        transform: translateY(-50%);
}